.chat-input{

    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 20px;

}